:root {
  --background-color: rgb(255 255 255);
  --text-color: rgb(75 85 99);
  --dark-background-color: rgb(15 23 42);
  --dark-text-color: rgb(255 255 255);
  --success-color: #059669ff;
  --info-color: #2563ebff;
  --warning-color: #d97706ff;
  --error-color: #dc2626ff;
  --success-color-light: #70c9a1ff;
  --info-color-light: #609ae5ff;
  --warning-color-light: #eca343ff;
  --error-color-light: #ec6a6aff;
}
