/.idea/
/.DS_Store

/vendor/
/node_modules/

/.cache/php-cs-fixer/
/.cache/phplint/
/.cache/phpstan/
/.cache/phpunit/

/.php-cs-fixer.php
/phpunit.xml
/taskfile.yml
/phpstan.neon

/npm-debug.log

/tests/Symfony/Fixtures/project/public/vendor/
