.idea/
.DS_Store

vendor/
node_modules/

.cache/php-cs-fixer/
.cache/phpunit/
.cache/phpstan/
.cache/phplint/
.cache/nx/
.nx/

.php-cs-fixer.php
phpunit.xml
taskfile.yml
phpstan.neon

lerna-debug.log
npm-debug.log

tests/Symfony/Fixtures/project/public/vendor/
