{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": "*.{ts,tsx}",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.{js,jsx}",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "parser": "yaml",
        "tabWidth": 2
      }
    }
  ]
}
