includes:
    - extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

rules:
    - Spatie\Ray\PHPStan\RemainingRayCallRule

parameters:
    level: 9

    paths:
        - src/
        - tests/

    tmpDir: .cache/phpstan

    ignoreErrors:
        - '#Call to method .+ with .+ will always evaluate to true.#'
