<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    cacheResult="false"
    stopOnFailure="true"
>
    <testsuites>
        <testsuite name="Prime">
            <directory>tests/Prime</directory>
        </testsuite>
        <testsuite name="Laravel">
            <directory>tests/Laravel</directory>
        </testsuite>
        <testsuite name="Symfony">
            <directory>tests/Symfony</directory>
        </testsuite>
    </testsuites>
</phpunit>
