<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="flasher">
            <directory>src/Prime</directory>
        </testsuite>
        <testsuite name="flasher laravel">
            <directory>src/Laravel</directory>
        </testsuite>
        <testsuite name="flasher symfony">
            <directory>src/Symfony</directory>
        </testsuite>

        <testsuite name="flasher toastr">
            <directory>src/Toastr/Prime</directory>
        </testsuite>
        <testsuite name="flasher toastr laravel">
            <directory>src/Toastr/Laravel</directory>
        </testsuite>
        <testsuite name="flasher toastr symfony">
            <directory>src/Toastr/Symfony</directory>
        </testsuite>

        <testsuite name="flasher notyf">
            <directory>src/Notyf/Prime</directory>
        </testsuite>
        <testsuite name="flasher notyf laravel">
            <directory>src/Notyf/Laravel</directory>
        </testsuite>
        <testsuite name="flasher notyf symfony">
            <directory>src/Notyf/Symfony</directory>
        </testsuite>

        <testsuite name="flasher sweet alert">
            <directory>src/SweetAlert/Prime</directory>
        </testsuite>
        <testsuite name="flasher sweet alert laravel">
            <directory>src/SweetAlert/Laravel</directory>
        </testsuite>
        <testsuite name="flasher sweet alert symfony">
            <directory>src/SweetAlert/Symfony</directory>
        </testsuite>

        <testsuite name="flasher pnotify">
            <directory>src/Pnotify/Prime</directory>
        </testsuite>
        <testsuite name="flasher pnotify laravel">
            <directory>src/Pnotify/Laravel</directory>
        </testsuite>
        <testsuite name="flasher pnotify symfony">
            <directory>src/Pnotify/Symfony</directory>
        </testsuite>

        <testsuite name="flasher noty">
            <directory>src/Noty/Prime</directory>
        </testsuite>
        <testsuite name="flasher noty laravel">
            <directory>src/Noty/Laravel</directory>
        </testsuite>
        <testsuite name="flasher noty symfony">
            <directory>src/Noty/Symfony</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
