.fl-container {
    color: var(--text-color);
    opacity: 0;
    transform: translate(0, -20px);
    transition: all 0.5s ease-in-out;

    &.fl-show {
        opacity: 1;
        transform: translate(0, 0) !important;
    }

    &.fl-rtl {
        direction: rtl;
    }
}
