pre.copyable {
    position: relative;
}

pre.copyable .copy {
    //display: none;
    position: absolute;
    right: 1.5rem;
    top: 0.85rem;
}

pre.copyable:hover .copy {
    display: block;
}

pre.copyable .copy i {
    font-size: 1.5rem;
}

pre.copyable .copy:active {
    transform: translateY(3px);
}

@media (max-width: 768px) {
    pre.copyable:hover .copy {
        display: none;
    }
}
