.menu-closed\:shown {
    @apply hidden;
}

.menu-closed .menu-closed\:shown {
    @apply inline;
}

.menu-closed .menu-closed\:hidden {
    @apply hidden;
}

#main-navigation li a.text-white i {
    color: #fff;
}
